<?xml version="1.0" encoding="utf-8"?>
<imagevault.client>
  <authentication>
    <sdkIdentity key="BlockEnhancements" secret="" />
  </authentication>
  <imageVaultCore address="https://iv-demo.imagevault.se/apiv2/" />
  <appSettings>
    <add key="defaultMediaUrlBase" value="/imagevault/" />
    <add key="ImageVaultUiUrl" value="https://iv-demo.imagevault.se" />
    <add key="enableClientCache" value="true" />
  </appSettings>
</imagevault.client>

